extends layout

block layout-content
  div
    h1 Round 3

    each game in round3 
        if game.complete === 0
            div #{game.hteam} v #{game.ateam} at #{game.venue}
        else if game.complete < 100
            div 
                span(id='dot')
                |  #{game.hteam} #{game.hgoals}.#{game.hbehinds} #{game.hscore} v #{game.ateam} #{game.agoals}.#{game.abehinds} #{game.ascore} at #{game.venue}   
        else 
            if game.hscore === game.ascore
                div #{game.hteam} #{game.hgoals}.#{game.hbehinds} #{game.hscore} drew with  #{game.ateam} #{game.agoals}.#{game.abehinds} #{game.ascore} at #{game.venue}
            else if game.hscore > game.ascore
                div #{game.hteam} #{game.hgoals}.#{game.hbehinds} #{game.hscore} defeated  #{game.ateam} #{game.agoals}.#{game.abehinds} #{game.ascore} at #{game.venue}    
            else     
                div #{game.ateam} #{game.agoals}.#{game.abehinds} #{game.ascore} defeated  #{game.hteam} #{game.hgoals}.#{game.hbehinds} #{game.hscore} at #{game.venue}