extends layout

block layout-content
    h1 #{title}
    div(id='games-container')
        each game in round 
            if game.complete === 0
                div(class='game')
                    div(class='game-teams') 
                        p #{game.hteam} 
                        p #{game.ateam}
                    div(class='game-details') #{game.day}, #{game.time} #{game.venue}
            else if game.complete < 100
                div(class='game') 
                    div(class='game-teams')
                        p 
                        span(id='live-dot')
                        |  #{game.hteam} #{game.hgoals}.#{game.hbehinds} #{game.hscore} 
                        p #{game.ateam} #{game.agoals}.#{game.abehinds} #{game.ascore} 
                    div(class='game-details') #{game.day}, #{game.time} #{game.venue}  
            else 
                if game.hscore === game.ascore
                    div(class='game') 
                        div(class='game-teams') 
                            p #{game.hteam} #{game.hgoals}.#{game.hbehinds} #{game.hscore} 
                            p #{game.ateam} #{game.agoals}.#{game.abehinds} #{game.ascore}
                        div(class='game-details') #{game.day} #{game.venue}      
                else if game.winnerteamid === game.hteamid
                    div(class='game') 
                        div(class='game-teams') 
                            strong  
                                p #{game.hteam} #{game.hgoals}.#{game.hbehinds} #{game.hscore} 
                            p #{game.ateam} #{game.agoals}.#{game.abehinds} #{game.ascore}
                        div(class='game-details') #{game.day}  #{game.venue}          
                else     
                    div(class='game') 
                        div(class='game-teams') 
                            p #{game.hteam} #{game.hgoals}.#{game.hbehinds} #{game.hscore} 
                            strong 
                                p #{game.ateam} #{game.agoals}.#{game.abehinds} #{game.ascore}
                        div(class='game-details') #{game.day} #{game.venue}      