block layout-content
    h1 Round #{title}
    div(id='score')
        div(class='game')
        div(class='game')
        div(class='game')
        div(class='game')
        div(class='game')
        div(class='game')
        div(class='game')
        div(class='game')
        div(class='game')
        div(class='game')
        div(class='game')

    script(src="/socket.io/socket.io.js")
    script.
        const scores = document.getElementById('scores');
        const games = document.getElementsByClassName('game');
        const socket = io();

        socket.on('FromAPI', roundArray => {
            for (let i = 0; i < roundArray.length; i++) {
                if (roundArray[i].complete === 0) {
                    games[i].innerHTML= ` ${roundArray[i].hteam} v ${roundArray[i].ateam}`
                } else if (roundArray[i].complete < 100) {
                    games[i].innerHTML= `<span id='live-dot'></span> ${roundArray[i].hteam} ${roundArray[i].hgoals}.${roundArray[i].hbehinds} ${roundArray[i].hscore} v ${roundArray[i].ateam} ${roundArray[i].agoals}.${roundArray[i].abehinds} ${roundArray[i].ascore}`

                } else {
                    games[i].innerHTML= `${roundArray[i].hteam} ${roundArray[i].hgoals}.${roundArray[i].hbehinds} ${roundArray[i].hscore} v ${roundArray[i].ateam} ${roundArray[i].agoals}.${roundArray[i].abehinds} ${roundArray[i].ascore}`
                }
            }
        });

