extends layout

block layout-content
    div(id='root')
        h2 Round #{title}
        div(id='scores')
            each game in round
                div(class='game')
                    div(class='logo') 
                        img(src= game.hlogo, alt=game.hteam + ` logo`) 
                    div(class='game-details')
                        if game.complete === 0
                            div(class='team-score') #{game.hteam} v #{game.ateam} 
                        else if game.complete < 100
                            div(class='team-score') 
                                p #{game.hteam} #{game.hgoals}.#{game.hbehinds} #{game.hscore} 
                                p #{game.ateam} #{game.agoals}.#{game.abehinds} #{game.ascore}  
                        else
                            div(class='team-score')
                                if game.hscore === game.ascore
                                    p #{game.hteam} #{game.hgoals}.#{game.hbehinds} #{game.hscore} 
                                    p #{game.ateam} #{game.agoals}.#{game.abehinds} #{game.ascore} 
                                else if game.winnerteamid === game.hteamid
                                    strong  
                                        p #{game.hteam} #{game.hgoals}.#{game.hbehinds} #{game.hscore} 
                                    p #{game.ateam} #{game.agoals}.#{game.abehinds} #{game.ascore}
                                else 
                                    p #{game.hteam} #{game.hgoals}.#{game.hbehinds} #{game.hscore} 
                                    strong 
                                        p #{game.ateam} #{game.agoals}.#{game.abehinds} #{game.ascore}
                        p(class='venue') #{game.venue}
                        if game.complete === 100
                            p(class='date-time') #{game.day}
                        else 
                            p(class='date-time') #{game.day}, #{game.time}   
                    div(class='logo') 
                        img(src= game.alogo, alt=game.ateam + ` logo`)                                                     

    script(src="/socket.io/socket.io.js")
    script.
        const scores = document.getElementById('scores');
        const teams = document.getElementsByClassName('team-score');
        const venues = document.getElementsByClassName('venue');
        const date = document.getElementsByClassName('date-time');
        const socket = io();

        socket.on('FromAPI', roundArray => {
            for (let i = 0; i < roundArray.length; i++) {

                if (roundArray[i].complete > 0 && roundArray[i].complete < 100) {
                    teams[i].innerHTML= 
                        ` <p> ${roundArray[i].hteam} ${roundArray[i].hgoals}.${roundArray[i].hbehinds} ${roundArray[i].hscore} </p>
                        <p> ${roundArray[i].ateam} ${roundArray[i].agoals}.${roundArray[i].abehinds} ${roundArray[i].ascore} </p>`
                    date[i].innerHTML = "LIVE NOW";
                    date[i].classList.add("live-score");
                } else if (roundArray[i].complete ===100) {
                    date[i].classList.remove("live-score");
                    date[i].innerHTML = `${roundArray[i].day}`;
                }
            }
        });
        

        

