extends layout

block layout-content
    h1 #{title}
    div(id='games-container')
        each game in round 
            if game.complete === 0
                div(class='game')
                    div(class='game-teams') 
                        div 
                            img(class='logo' src= game.hlogo, alt=game.hteam) 
                            span #{game.hteam} 
                        div
                        img(class='logo'  src=game.alogo, alt=game.ateam)
                        span #{game.ateam}   
                    div(class='game-details') #{game.day}, #{game.time} #{game.venue}
            else if game.complete < 100
                div(class='game') 
                    div(class='game-teams')
                        p 
                            img(class='logo'  src= game.hlogo, alt=game.hteam) 
                            |  #{game.hteam} #{game.hgoals}.#{game.hbehinds} #{game.hscore} 
                        p 
                            img(class='logo'  src=game.alogo, alt=game.ateam)
                            | #{game.ateam} #{game.agoals}.#{game.abehinds} #{game.ascore} 
                    div(class='game-details')
                        span(id='live-dot')
                        | #{game.day}, #{game.time} #{game.venue}  
            else 
                if game.hscore === game.ascore
                    div(class='game') 
                        div(class='game-teams') 
                            p 
                                img(class='logo' src= game.hlogo, alt=game.hteam) 
                                | #{game.hteam} #{game.hgoals}.#{game.hbehinds} #{game.hscore} 
                            p 
                                img(class='logo' src=game.alogo, alt=game.ateam)
                                | #{game.ateam} #{game.agoals}.#{game.abehinds} #{game.ascore}
                        div(class='game-details') #{game.day} #{game.venue}      
                else if game.winnerteamid === game.hteamid
                    div(class='game') 
                        div(class='game-teams') 
                            strong  
                                img(class='logo' src= game.hlogo, alt=game.hteam) 
                                | #{game.hteam} #{game.hgoals}.#{game.hbehinds} #{game.hscore} 
                            p 
                                img(class='logo' src= game.alogo, alt=game.ateam) 
                                | #{game.ateam} #{game.agoals}.#{game.abehinds} #{game.ascore}
                        div(class='game-details') #{game.day}  #{game.venue}          
                else     
                    div(class='game') 
                        div(class='game-teams') 
                            p 
                                img(class='logo' src= game.hlogo, alt=game.hteam) 
                                | #{game.hteam} #{game.hgoals}.#{game.hbehinds} #{game.hscore} 
                            strong
                                img(class='logo' src=game.alogo, alt=game.ateam) 
                                | #{game.ateam} #{game.agoals}.#{game.abehinds} #{game.ascore}
                        div(class='game-details') #{game.day} #{game.venue}      