extends layout

block layout-content
    ul(class='menu-bar')
        li(class='round-dropdown')
            a(href='javascript:void(0)' class='dropbtn') Rounds
                div(class='dropdown-content')
                    a(href='/afl/round1') Round 1
                    a(href='/afl/round2') Round 2
                    a(href='/afl/round3') Round 3
                    a(href='/afl/round4') Round 4
                    a(href='/afl/round5') Round 5
                    a(href='/afl/round6') Round 6
                    a(href='/afl/round7') Round 7
                    a(href='/afl/round8') Round 8
                    a(href='/afl/round9') Round 9
                    a(href='/afl/round10') Round 10
                    a(href='/afl/round11') Round 11
                    a(href='/afl/round12') Round 12
                    a(href='/afl/round13') Round 13
                    a(href='/afl/round14') Round 14
                    a(href='/afl/round15') Round 15
                    a(href='/afl/round16') Round 16
                    a(href='/afl/round17') Round 17
                    a(href='/afl/round18') Round 18
    h1 AFL 2020 live scores
    h2 Round #{title}
    div(id='scores')
        each game in round
            div(class='game')
                div(class='logo') 
                    img(src= game.hlogo, alt=game.hteam + ` logo`) 
                div(class='game-details')
                    if game.complete === 0
                        div(class='team-score') #{game.hteam} v #{game.ateam} 
                    else if game.complete < 100
                        div(class='team-score') 
                            p #{game.hteam} #{game.hgoals}.#{game.hbehinds} #{game.hscore} 
                            p #{game.ateam} #{game.agoals}.#{game.abehinds} #{game.ascore}  
                    else
                        div(class='team-score')
                            if game.hscore === game.ascore
                                p #{game.hteam} #{game.hgoals}.#{game.hbehinds} #{game.hscore} 
                                p #{game.ateam} #{game.agoals}.#{game.abehinds} #{game.ascore} 
                            else if game.winnerteamid === game.hteamid
                                strong  
                                    p #{game.hteam} #{game.hgoals}.#{game.hbehinds} #{game.hscore} 
                                p #{game.ateam} #{game.agoals}.#{game.abehinds} #{game.ascore}
                            else 
                                p #{game.hteam} #{game.hgoals}.#{game.hbehinds} #{game.hscore} 
                                strong 
                                    p #{game.ateam} #{game.agoals}.#{game.abehinds} #{game.ascore}
                    p(class='venue') #{game.venue}
                    if game.complete === 100
                        p(class='date-time') #{game.day}
                    else 
                        p(class='date-time') #{game.day}, #{game.time}   
                div(class='logo') 
                    img(src= game.alogo, alt=game.ateam + ` logo`)                        

    script(src="/socket.io/socket.io.js")
    script.
        const scores = document.getElementById('scores');
        const teams = document.getElementsByClassName('team-score');
        const venues = document.getElementsByClassName('venue');
        const date = document.getElementsByClassName('date-time');
        const socket = io();

        socket.on('FromAPI', roundArray => {
            for (let i = 0; i < roundArray.length; i++) {

                if (roundArray[i].complete > 0 && roundArray[i].complete < 100) {
                    teams[i].innerHTML= 
                        ` <p> ${roundArray[i].hteam} ${roundArray[i].hgoals}.${roundArray[i].hbehinds} ${roundArray[i].hscore} </p>
                        <p> ${roundArray[i].ateam} ${roundArray[i].agoals}.${roundArray[i].abehinds} ${roundArray[i].ascore} </p>`
                    date[i].innerHTML = "LIVE NOW";
                    date[i].classList.add("live-score");
                } else if (roundArray[i].complete ===100) {
                    date[i].classList.remove("live-score");
                    date[i].innerHTML = `${roundArray[i].day}`;
                }
            }
        });

        

